
// .app{ // bikin ngelag
//     margin: 0;
//     padding: 0;
//     height: 0;
//     min-height: 100vh;
// }
.app{
    // min-height: 100vh;
    // margin: 0;
    // padding: 0;
    height: 0;
    min-height: 100vh;
}
.login-box{
    // border: 1px solid;
    background: #ffffff;
    box-shadow: 0px 0px 20px 3px #E2F5EC;
}
.login-logo{
    margin:0;
}
// body{
//     min-height: 100%;
// }
// .wrapper{
//     min-height: 100%;
// }
// .content-wrapper{
//     min-height: 100%;;
// }
.fas, .far, .fal {
    margin-right: 10px;
}